.position {
  position: absolute;
  left: 43%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
  display: flex;
}

.sidebar {
  border-style: dotted;
  height: 80vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
